@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bebas+Neue&family=Cairo:wght@200..1000&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --bg-main-color: #FFFFFF;
    --bg-secondary-color: #EF8354;

    --btn-color: #0036CB;
    --btn-hover-color: #001755;
    --btn-text-color: #FFFFFF;

    --title-color: #2D3142;
    --text-color: #BFC0C0;

    --border-main-color: #EF8354;
    --border-hover-color: #f06124;

}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: cairo; 
    /* direction: rtl; */
    background: #e4e9f7;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1) 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 450px;
    margin: 0 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.submit {
    width: 100%;
}

.btn {
    height: 35px;
    background-color: rgba(76, 68, 182, 0.808);
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0 10px;
}

.btn:hover {
    opacity: 0.82;
}

.links {
    margin-bottom: 15px;
}

/**************** Home ****************/
nav {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.logo {
    margin-left: 8px;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

.logo a{
    text-decoration: none;
    color: #000;
}
.right-links{
    display: flex;
    justify-content: end;
    margin-top: -50px;
    margin-bottom: 100px;
}
.right-links a {
    display: flex;flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}

.main-top{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom{
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width:840px){
    .main-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin: 10px;
    }
}

.message{
    text-align: center;
    background-color: #f9eded;
    padding: 15px 0;
    border: 1px solid #699053;
    border-radius: 5px;
    color: red;
    margin-bottom: 10px;
}